.code-viewer {
  display: flex;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  background: #282c34;
  overflow: hidden;

  .section-title {
    padding: 4px 12px;
    background: #1a1c21;
    font-size: 14px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .4);
    border-top: 2px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid rgba(0, 0, 0, .2);
  }

  .code-area {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    overflow: scroll;
  }

  pre {
    margin: 0;
    padding: .5em 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
  }

  pre, code {
    white-space: pre;
    overflow-x: scroll;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100%;
    background: #1e2229;
    border-right: 2px solid rgba(0, 0, 0, .2);
  }

  .dir {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: scroll;

    > ul {
      width: 100%;
      height: 100%;
      overflow: scroll;
    }
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    color: rgba(255, 255, 255, .76);
    font-size: 13px;
  }

  li {
    padding: .4em 0;
    white-space: nowrap;
    list-style: none;
    cursor: default;
    user-select: none;
    width: max-content;
    min-width: 100%;
    box-sizing: border-box;
    &:hover {
      color: rgba(255, 255, 255, 1);
      background: rgba(0, 0, 0, .1);
    }
  }

  li[data-role=dir] {
    font-weight: 600;
  }

  li[data-role=file] {
    font-weight: 300;
  }

  li[data-fold="1"] > ul {
    display: none;
  }

  li[data-fold="0"] {
    padding-bottom: 0;

    > ul {
      padding-bottom: 0;
    }
  }
}